<h1>Listing inqueries</h1>

<table>
  <tr>
    <th>Receptiondate</th>
    <th>Contact</th>
    <th>Client</th>
    <th>期限</th>
    <th>タイトル</th>
    <th>Memo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inqueries.each do |inquery| %>
  <tr>
    <td><%= inquery.receptiondate %></td>
    <td><%= inquery.contact %></td>
    <td><%= inquery.client %></td>
    <td><%= inquery.deadline %></td>
    <td><%= inquery.title %></td>
    <td><%= inquery.memo %></td>
    <td><%= link_to 'Show', inquery %></td>
    <td><%= link_to 'Edit', edit_inquery_path(inquery) %></td>
    <td><%= link_to 'Destroy', inquery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inquery', new_inquery_path %>
