<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>ŒÚ‹q–¼</th>
      <th>ŒÚ‹q‡‚</th>
      <th>ƒJƒi</th>
      <th>ZŠ</th>
      <th>Tel</th>
      <th>Fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.code %></td>
        <td><%= customer.kana %></td>
        <td><%= customer.address %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.fax %></td>
        <td><%= link_to 'Ú×', customer %></td>
        <td><%= link_to '•ÒW', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'V‹Kì¬', new_customer_path %>
