<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>顧客名</th>
      <th>顧客№</th>
      <th>カナ</th>
      <th>住所</th>
      <th>Tel</th>
      <th>Fax</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.code %></td>
        <td><%= customer.kana %></td>
        <td><%= customer.address %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.fax %></td>
        <td><%= link_to '詳細', customer %></td>
        <td><%= link_to '編集', edit_customer_path(customer) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_customer_path %>
