<script src="http://maps.google.com/maps/api/js?sensor=true&language=ja" ></script>
<style>
  #map {
   width: 400px;
   height: 200px;
  }
</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>顧客名:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>顧客№:</strong>
  <%= @customer.code %>
</p>

<p>
  <strong>カナ:</strong>
  <%= @customer.kana %>
</p>

<p>
  <strong>住所:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @customer.tel %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>


<div id="map"></div>


<%= link_to '編集', edit_customer_path(@customer) %> |
<%= link_to '戻る', customers_path %>

<%= hidden_field_tag 'restaurantAddr', @customer.address %>
<script>
  var geocoder = new google.maps.Geocoder();
  geocoder.geocode({
  'address': document.getElementById("restaurantAddr").value
  }, function(result, status) {
  if (status == google.maps.GeocoderStatus.OK) {
var latlng = result[0].geometry.location;
var options = {
zoom: 15,
center: latlng,
mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("map"), options);
var marker = new google.maps.Marker({
position: map.getCenter(),
map: map
});
} else {
alert(document.getElementById("restaurant_addr").value);
}
});
</script>

<br>
<br>
<%= form_tag('', :method => :delete) do %>
  <input name="commit" type="submit" value="　完了　" /></p>
<% end %>
