<%= form_for(@ctantom) do |f| %>
  <% if @ctantom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctantom.errors.count, "error") %> prohibited this ctantom from being saved:</h2>

      <ul>
      <% @ctantom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :社員№ %><br>
    <%= f.text_field :ctuid %>
  </div>
  <div class="field">
    <%= f.label :名前 %><br>
    <%= f.text_field :ctname %>
  </div>
  <div class="field">
    <%= f.label :会社mail %><br>
    <%= f.text_field :ctmailofc %>
  </div>
  <div class="field">
    <%= f.label :携帯mail %><br>
    <%= f.text_field :ctmailmp %>
  </div>
  <div class="field">
    <%= f.label :上司1名前 %><br>
    <%= f.text_field :ctjname1 %>
  </div>
  <div class="field">
    <%= f.label :上司1社員№ %><br>
    <%= f.text_field :ctjuid1 %>
  </div>
  <div class="field">
    <%= f.label :上司1会社mail %><br>
    <%= f.text_field :ctjmailofc1 %>
  </div>
  <div class="field">
    <%= f.label :上司1携帯mail %><br>
    <%= f.text_field :ctjmailmp1 %>
  </div>
  <div class="field">
    <%= f.label :上司2名前 %><br>
    <%= f.text_field :ctjname2 %>
  </div>
  <div class="field">
    <%= f.label :上司2社員№ %><br>
    <%= f.text_field :ctjuid2 %>
  </div>
  <div class="field">
    <%= f.label :上司2会社mail %><br>
    <%= f.text_field :ctjmailofc2 %>
  </div>
  <div class="field">
    <%= f.label :上司2携帯mail %><br>
    <%= f.text_field :ctjmailmp2 %>
  </div>
  <div class="field">
    <%= f.label :上司3名前 %><br>
    <%= f.text_field :ctjname3 %>
  </div>
  <div class="field">
    <%= f.label :上司3社員№ %><br>
    <%= f.text_field :ctjuid3 %>
  </div>
  <div class="field">
    <%= f.label :上司3会社mail %><br>
    <%= f.text_field :ctjmailofc3 %>
  </div>
  <div class="field">
    <%= f.label :上司3携帯mail %><br>
    <%= f.text_field :ctjmailmp3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
