 <br>
  サインイン ： 
  <%= Ctantom.where(:ctuid => current_user.userno).first.ctname %>

<h1>ＹＥＳ担当者マスター</h1>

<table>
  <thead>
    <tr>
      <th>社員№</th>
      <th>名前</th>
      <th>会社mail</th>
      <th>携帯mail</th>
      <th>上司1 名前</th>
      <th>上司1 社員№</th>
      <th>上司1 会社mail</th>
      <th>上司1 携帯mail</th>
      <th>上司2 名前</th>
      <th>上司2 社員№</th>
      <th>上司2 会社mail</th>
      <th>上司2 携帯mail</th>
      <th>上司3 名前</th>
      <th>上司3 社員№</th>
      <th>上司3 会社mail</th>
      <th>上司3 携帯mail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ctantoms.each do |ctantom| %>
      <tr>
        <td><%= ctantom.ctuid %></td>
        <td><%= ctantom.ctname %></td>
        <td><%= ctantom.ctmailofc %></td>
        <td><%= ctantom.ctmailmp %></td>
        <td><%= ctantom.ctjname1 %></td>
        <td><%= ctantom.ctjuid1 %></td>
        <td><%= ctantom.ctjmailofc1 %></td>
        <td><%= ctantom.ctjmailmp1 %></td>
        <td><%= ctantom.ctjname2 %></td>
        <td><%= ctantom.ctjuid2 %></td>
        <td><%= ctantom.ctjmailofc2 %></td>
        <td><%= ctantom.ctjmailmp2 %></td>
        <td><%= ctantom.ctjname3 %></td>
        <td><%= ctantom.ctjuid3 %></td>
        <td><%= ctantom.ctjmailofc3 %></td>
        <td><%= ctantom.ctjmailmp3 %></td>
        <td><%= link_to '詳細', ctantom %></td>
        <td><%= link_to '編集', edit_ctantom_path(ctantom) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <%= link_to '新規作成', new_ctantom_path %>
