<p id="notice"><%= notice %></p>

<p>
  <strong>Ctuid:</strong>
  <%= @ctantom.ctuid %>
</p>

<p>
  <strong>Ctname:</strong>
  <%= @ctantom.ctname %>
</p>

<p>
  <strong>Ctmailofc:</strong>
  <%= @ctantom.ctmailofc %>
</p>

<p>
  <strong>Ctmailmp:</strong>
  <%= @ctantom.ctmailmp %>
</p>

<p>
  <strong>Ctjname1:</strong>
  <%= @ctantom.ctjname1 %>
</p>

<p>
  <strong>Ctjuid1:</strong>
  <%= @ctantom.ctjuid1 %>
</p>

<p>
  <strong>Ctjmailofc1:</strong>
  <%= @ctantom.ctjmailofc1 %>
</p>

<p>
  <strong>Ctjmailmp1:</strong>
  <%= @ctantom.ctjmailmp1 %>
</p>

<p>
  <strong>Ctjname2:</strong>
  <%= @ctantom.ctjname2 %>
</p>

<p>
  <strong>Ctjuid2:</strong>
  <%= @ctantom.ctjuid2 %>
</p>

<p>
  <strong>Ctjmailofc2:</strong>
  <%= @ctantom.ctjmailofc2 %>
</p>

<p>
  <strong>Ctjmailmp2:</strong>
  <%= @ctantom.ctjmailmp2 %>
</p>

<p>
  <strong>Ctjname3:</strong>
  <%= @ctantom.ctjname3 %>
</p>

<p>
  <strong>Ctjuid3:</strong>
  <%= @ctantom.ctjuid3 %>
</p>

<p>
  <strong>Ctjmailofc3:</strong>
  <%= @ctantom.ctjmailofc3 %>
</p>

<p>
  <strong>Ctjmailmp3:</strong>
  <%= @ctantom.ctjmailmp3 %>
</p>

<%= link_to 'Edit', edit_ctantom_path(@ctantom) %> |
<%= link_to 'Back', ctantoms_path %>
