<p id="notice"><%= notice %></p>

<p>
  <strong>社員№:</strong>
  <%= @ctantom.ctuid %>
</p>

<p>
  <strong>名前:</strong>
  <%= @ctantom.ctname %>
</p>

<p>
  <strong>会社mail:</strong>
  <%= @ctantom.ctmailofc %>
</p>

<p>
  <strong>携帯mail:</strong>
  <%= @ctantom.ctmailmp %>
</p>

<p>
  <strong>上司1 名前:</strong>
  <%= @ctantom.ctjname1 %>
</p>

<p>
  <strong>上司1 社員№:</strong>
  <%= @ctantom.ctjuid1 %>
</p>

<p>
  <strong>上司1 会社mail:</strong>
  <%= @ctantom.ctjmailofc1 %>
</p>

<p>
  <strong>上司1 携帯mail:</strong>
  <%= @ctantom.ctjmailmp1 %>
</p>

<p>
  <strong>上司2 名前:</strong>
  <%= @ctantom.ctjname2 %>
</p>

<p>
  <strong>上司2 社員№:</strong>
  <%= @ctantom.ctjuid2 %>
</p>

<p>
  <strong>上司2 会社mail:</strong>
  <%= @ctantom.ctjmailofc2 %>
</p>

<p>
  <strong>上司2 携帯mail:</strong>
  <%= @ctantom.ctjmailmp2 %>
</p>

<p>
  <strong>上司3 名前:</strong>
  <%= @ctantom.ctjname3 %>
</p>

<p>
  <strong>上司3 社員№:</strong>
  <%= @ctantom.ctjuid3 %>
</p>

<p>
  <strong>上司3 会社mail:</strong>
  <%= @ctantom.ctjmailofc3 %>
</p>

<p>
  <strong>上司3 携帯mail:</strong>
  <%= @ctantom.ctjmailmp3 %>
</p>
<br>
 <%= link_to '編集', edit_ctantom_path(@ctantom) %> |
 <%= link_to '戻る', ctantoms_path %>
<br>
<br>
<%= form_tag('', :method => :delete) do %>
  <input name="commit" type="submit" value="　完了　" /></p>
<% end %>
