<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :id %>:
    <%= @inquiry.id %>
  </div>

  <div class="field">
    <%= f.label :受付日 %><br>
    <%= f.datetime_select :receptiondate %>
  </div>
  
  <div class="field">
    <%= f.label :受付者 %><br>
    <%= text_field_tag :name, params[:login_name] %>
  </div>
  
  <div class="field">
    <%= f.label :対応担当者 %><br>
    <%= f.collection_select( :ctantom_id, @ctantoms, :id, :ctname, :include_blank => true ) %>
  </div>
  
  <div class="field">
    <%= f.label :顧客名 %><br>
    <%= f.text_field :client %>
  </div>
  
   <div class="field">
    <%= f.label :顧客担当者 %><br>
    <%= f.text_field :ctanto %>
  </div>
  
  <div class="field">
    <%= f.label :物件名 %><br>
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  
 <div class="field">
    <%= f.label :処理期日 %><br>
    <%= f.datetime_select :deadline %>
  </div>
  
  <div class="field">
    <%= f.label :対応状況 %><br>
    <%= f.select :jyokyo, [["受付待ち","受付待ち"],["対応中","対応中"],["完了","完了"]],  :prompt => "選択して下さい" %>
  </div>
  
  <div class="field">
    <%= f.label :アクション %><br>
    <%= f.text_field :contact %>
  </div>
  
  <div class="field">
    <%= f.label :用件 %><br>
    <%= f.text_field :youken %>
  </div>
  
  <div class="field">
    <%= f.label :リアクション %><br>
    <%= f.text_field :recontact %>
  </div>
  
  <div class="field">
    <%= f.label :緊急度 %><br>
    <%= f.text_field :kinkyu %>
  </div>
  
  <div class="field">
    <%= f.label :処理対応 %><br>
    <%= f.text_field :taiou %>
  </div>
  
  <div class="field">
    <%= f.label :今後の対応 %><br>
    <%= f.text_field :gotaiou %>
  </div>
  
  <div class="field">
    <%= f.label :対応担当メモ %><br>
    <%= f.text_area :tmemo %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

