<%= form_for(@inquiry) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :受付日 %><br>
    <%= f.datetime_select :receptiondate %>
  </div>
  <div class="field">
    <%= f.label :受付内容 %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :顧客名 %><br>
    <%= f.text_field :client %>
  </div>
 <div class="field">
    <%= f.label :処理期日 %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :タイトル %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :メモ %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
