<h1>Listing inquiries</h1>

<table>
  <thead>
    <tr>
      <th>受付日</th>
      <th>受付内容</th>
      <th>顧客名</th>
      <th>処理期日</th>
      <th>タイトル</th>
      <th>メモ</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.receptiondate %></td>
        <td><%= inquiry.contact %></td>
        <td><%= inquiry.client %></td>
        <td><%= inquiry.deadline %></td>
        <td><%= inquiry.title %></td>
        <td><%= inquiry.memo %></td>
        <td><%= link_to '詳細', inquiry %></td>
        <td><%= link_to '編集', edit_inquiry_path(inquiry) %></td>
        <td><%= link_to '削除', inquiry, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry', new_inquiry_path %>
