 <br>
  <%= Ctantom.where(:ctuid => current_user.userno).first.ctname %>

<h1>Listing inquiries</h1>

<h2>id検索</h2>
<%= form_tag "search", method: :get do %>
<p><%= text_field_tag "id", params[:id] %>

<h2>担当者検索</h2>
<p><%= text_field_tag "ttanto", params[:ttanto] %>

<%= submit_tag "検索" %></p>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th>　ID　</th>
      <th>　担当者　</th>
      <th>　対応状況　</th>
      <th>　受付日　</th>
      <th>　処理期日　</th>
      <th>　　物件名　　</th>
      <th>　　顧客名　　</th>
      <th>　顧客担当　</th>
      <th>　緊急度　</th>
      
    </tr>
  </thead>

  <tbody>
    <% @inquiries.each do |inquiry| %>
      <tr>
        <td><%= inquiry.id %></td>
        <td><%= inquiry.ctantom.ctname %></td>
        <td><%= inquiry.jyokyo %></td>
        <td><%= inquiry.receptiondate.strftime("%Y年%m月%d日 %H:%M") %></td>
        <td><%= inquiry.deadline_color %></td>
        <td><%= inquiry.title %></td>
        <td><%= inquiry.client %></td>
        <td><%= inquiry.ctanto %></td>
        <td><%= inquiry.kinkyu %></td>
         
        <td><%= link_to 'Show', inquiry %></td>
        <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
        <!--td><%= link_to 'Destroy', inquiry, method: :delete, data: { confirm: '削除しますか?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inquiry', new_inquiry_path %>

