<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @inquiry.id %>
</p>
  
<p>
  <strong>Receeptiondate:</strong>
  <%= @inquiry.receeptiondate %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @inquiry.contact %>
</p>

<p>
  <strong>Client:</strong>
  <%= @inquiry.client %>
</p>

<p>
 <strong>Deadline:</strong>
 <%= @inquiry.deadline %>
</p>

<p>
 <strong>Title:</strong>
 <%= @inquiry.title %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @inquiry.memo %>
</p>

<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
